/*

propiedades de background

background-color: transparent;
background-image: none;
background-position: 0% 0%;
background-attachment: scroll;
background-clip: border-box;
background-origin: padding-box;
background-repeat: repeat;
background-size: auto auto;
background: ;

https://acortar.link/M4gTXv

*/
**{
    background-image: none;
    background-position: 0% 0%;
    background-size: auto auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    background: none ;

}
body,.container {
    width: 100%;
    height: 100vh;
}
body > .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menu*/

.menu {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 150px;
    background-color: lightslategray;
    border-radius: 15px;
}
li {
    list-style-type: none;
}
li a, li span {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;

    padding: 8px;
}
.subMenu {
    display: none;
}
.menu li:hover > .subMenu {
    display: block;
}
.subMenu a:hover {
    background-color: lightskyblue;
    border-radius: 15px;
}

/*estilos visuales*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.container a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 3px 10px black;
    font-size: 7rem;
}


/*BACKGROUNDS*/

.color {
    background-color: lightcoral;
    /*nameColor, rgb, hexadecimal, hsl, rgba y hsla*/
}
.image {
    background-image: url(./recursos/large2.jpg);
    /*rutas absolutas y relativas*/
}
.linear {
    background-image: linear-gradient(red, blue);
    /*podemos cambiarla direccion con grados(deg) y palabras clave(top,right,etc)*/
}
.radial {
    background-image: radial-gradient(pink,rgb(112, 196, 224));
}
.repeat {
    background-image: url(./recursos/oficina.png);
    background-repeat: no-repeat;
}
.position {
    background-color: rgb(146, 211, 232);
    background-image: url(./recursos/oficina.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.size {
    background-image: url(./recursos/large.jpg);
    background-repeat: no-repeat;

    background-size: cover;
    background-position: 0% -80vh;
}
.attachment {
    height: 200vh;

    background-image: url(./recursos/large4.jpg);
    background-size: 100% 100%;

    background-attachment: fixed;
}
.origing {
    background-image: url(https://images.pexels.com/photos/2098428/pexels-photo-2098428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);        
    border: 10px dashed red;
    background-repeat: no-repeat;

    background-origin: content-box;    
    padding: 200px;
}
.clip {
    border: 10px dashed red;
    /* background-color: lightblue; */
    background-image: url(./recursos/large2.jpg);
    
    padding: 100px;
    background-clip: content-box
}
.background {
    height: 200vh;

    background: #F987EA url(https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat  100% 100% / cover fixed;
}
.background-fin {
    height: 200vh;
    background-color: lightskyblue;
    background-image: url(./recursos/undraw.png), url(./recursos/oficina.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top left, right bottom;
    background-attachment: fixed;
}

/*Ejemplo usando las propiedades*/

.container-fin {
    height: 200vh;
    padding: 15px;
}
.container-fin .title {
    height: 15%;
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px 10px black;
}
.container-fin .content {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-fin .content div  {
    width: 50%;
    height: 200px;
    padding: 20px;
    font-size: 20px;

    display: flex;
    align-items: center;
}
.container-fin .content div:nth-child(1), div:nth-child(3) {
    align-self: flex-end;
}
.container-fin .content div:nth-child(2), div:nth-child(4) {
    align-self: flex-start;
}
.container-fin .content div:nth-child(1) p, div:nth-child(3) p {
    padding: 10px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right,#F987EA, #76B0ED);
}
.container-fin .content div:nth-child(2) p, div:nth-child(4) p {
    padding: 10px;
    border-radius: 8px;
    background-image: radial-gradient(circle, #76B0ED, #F987EA, #3d64c78e);
}
.container-fin footer {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fin footer a {
    font-size: 30px;
}